/*************************************************
				Base CSS Start
*************************************************/

body{
	margin: 0;
	padding: 0;
	
	font-family: 'SiyamRupali', sans-serif;
  /*font-family: 'Kalpurush', sans-serif;
  font-family: 'Lato', sans-serif;*/
}
a{
	text-decoration: none;
}

ul{
	margin: 0;
	
}

li{
	list-style: none;
}

.mainwidth{
	width: 85%;
	margin: auto !important;
}
.divjustify{
	justify-content: space-between;
}

.divflex{
	display: flex;
}

.color-base{
	color: #333333 !important;
}

.font-500{
	font-size: 22px;
}
.font-400{
	font-size: 22px;
}




/************************************************
				Base CSS Ends
*************************************************/

/************************************************
				 Home CSS Start
*************************************************/

.topheader{
/*	margin: 22px;
	margin-bottom: 35px;*/
	background-color: #fff;
	width: 100%;
}

.navbar{
  /*overflow: hidden;*/
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 21px;
  z-index: 2;

}


.logobar{
	width: 16%
}

.searchbar{
	width: 62%;
	margin-right: 10px;

}
.cartsec{
	width: 24.5%;


}
.rokomarilogo{
	width: 110px;

}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #CED4DA;
  border-bottom: 3px solid #FF9900;
  border-radius: 3px 0px 0px 3px;	
  float: left;
  width: 88.5%;
  background: #fff;
}

form.example button {
  float: left;
  width: 8%;
  padding: 11px 10px 11px 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid #CED4DA;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
  cursor: pointer;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.img-cart{
	width: 36px;
	height: 36px;
	float: right;
}
.signinbutton{
	border: 1px solid #333333;
	float: right;
	background-color: #fff;
	padding: 9px 12px 9px 12px;
	border-radius: 3px 3px 3px 3px;
	width: 80px;
    height: 38px
    color:  #464646;
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
    /*margin-right: -16px;*/

}
.giftbox{
	height: 30px;
	width: 30px;
	position: relative;
	top: -4px;
}
.mainmenu-ul li{
	margin-right: 30px;
}
.boi{
	
	padding: 8px 14px 14px 14px;
	border: 1px solid #0397D3;
	border-bottom-color: white;
	z-index: 1;

}

.header{
	text-align: justify;
	padding-top: 90px;
}

.mainmenu-ul a{
	color: #333333 !important;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 17px;

}
.mainmenu-ul-others{
    position: relative;
	top: 7px !important;
}

.mainmenu-ul{
	margin-left: 162px !important;
	margin-right: 0 !important;
}
.giftfinder{
	position: relative;
	top: -10px;
}
.menuhr{
	color: #0397D3;
	border-top: 1px solid #0397D3;
	position: relative;
	top: -9px !important;
	
}
.submenu-ul{
	padding: 0 0 10px 0;
	margin-left: 119px !important;
    margin-right: 0 !important;


}
.submenu-ul a{
	font-size: 14px;
	padding-left: 0;
}

.stockproduct a{
	color: #E87E04 !important;
}
.boimela a{
	color: #33C24D !important;
}
.fullbody{
	width: 100%;
	height: 3000px;
	background-color: #F1F2F4;
}

.banner{
	background-image: url('../img/hero.png');
	height: 223px;
	position: relative;
	top: 20px;
}

.img-bmenu1{
	width: 359px;

}
.bannermenu{
	justify-content: space-between;
	padding: 40px 0 40px 0;
}

.recentsold{
	justify-content: space-evenly;
	height: 425px;
	background-color: #fff;
	margin-left: 5px;
	box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 30%);
}

.left-arrow{
position: absolute;
top: 752px;    
font-size: 44px !important;
padding: 18px 11px;
color: #6e6f6f;
border: 1px solid #f5f5f5;
background-color: #fff;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
/*box-shadow: 3px 1px 5px #b9b9b9;*/
z-index: 1;
box-shadow: -2px 2px 12px -2px rgb(0 0 0 / 30%);

}
.right-arrow{
position: absolute;
top: 752px;
left: 89.8%;
font-size: 44px !important;
padding: 18px 11px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color: #6e6f6f;
border: 1px solid #f5f5f5;
background-color: #fff;
z-index: 1;
/*box-shadow: -3px -1px 5px #b9b9b9;*/
box-shadow: -2px 2px 12px -2px rgb(0 0 0 / 30%);
}

.recentsold-title{

	font-size: 24px;
	font-weight: 500;
	padding: 10px 0 0 10px;
	margin-top: -15px;
}
.rsold1{
	width: 16.3%;
	height: 280px;
  padding-bottom: 30px;
  margin-left: 3px;
	justify-content: center;
	opacity: 1;

}
.onlyshadow{
	opacity: 1;
}
.onlyshadow:hover{
	opacity: 0.5;
	box-shadow: grey;
	background-color: white;
	border: 1px solid #ebebeb;
	transition: opacity 0.8s;
	box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.rsold1 p{
	margin: 0;
}

.img-rsold1{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;

}

.look-inside{
	position: relative;
	top: -69px;
  left: 71px;
}
.badge-inside{
	position: relative;
	top: -215px;
  left: -75px;
}
.bookname{
	position: relative;
	top: -59px;
	font-size: 14px;
	text-align: center;
	color: #111111;

}
.name{
	padding-bottom: 15px;
}
.author{
	padding-bottom: 15px;
}
strike{
	color: #666666;
}

.rsold1:hover{


}


.viewdetails{
	display: none;
	background-color: #0397D3;
	position: relative;
  top: -63px;
  vertical-align: middle;
  width: 100%;
  padding: 8px 15px 8px 15px;
  border: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  

}
.rsold1:hover .viewdetails{ 
	display:block;
	opacity: 1 !important;
}
.rsold1:hover .addtocart{ 
	display:block;
	opacity: 1 !important;
}
.addtocart{
	display: none;
	background-color: #FF9900;
	position: relative;
  top: -237px;
  left: 28px;
  width: 70%;
  padding: 6px 15px 6px 15px;
  border: none;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  z-index: 0;

}
.whichbook{
	height: 210px;
	background-color: #fff;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 30%);

}

.which-title{
	font-size: 26px;
	font-weight: 500;
	color: #333333;
	margin-left: 15px;
}

.which-des{
	font-size: 15px;
	font-weight: 500;
	color: #aaaaaa;
}
.segment-1{
	height: 104px;
	width: 158;
	background-color: ;
}

.which-toptext{
	position: relative;
	top: -81px;
	color: #fff;
	left: 45px;

}
.whichbook-segment{
	justify-content: space-evenly;
}
.text-block{
	font-size: 15px;
}

.toptext2{
	left: 28px !important;
}
.toptext3{
	left: 27px !important;

}
.toptext4{
	left: 3px !important;
	top: -98px;
	text-align: center;

}
.toptext5{
	left: 0px !important;
  top: -88px;
  text-align: center;

}
.toptext6{
	left: 2px !important;
  top: -87px;
  text-align: center;

}

.whichbookarrow{
	top: 1099px !important;
	/*box-shadow: 0px -1px 2px #b9b9b9;*/
	box-shadow: -2px 2px 12px -2px rgb(0 0 0 / 30%);
}
.button-5-1{
	text-align: center;
	/*width: 25%;*/
  color: #333333;
  display: inline-block;
  padding: 21px 58px 21px 58px;
  border: 1px solid #71cbf0;
  background: #e3f3fa;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(to left, #e3f3fa 50%, #0397d3 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

.button-5-1:hover{

 background-position: left;
}

.button-5-1{
	padding: 21px 55px 21px 55px !important;
}

.button-5-2{
	padding: 21px 48px 21px 48px !important;
}
.button-5-3{
	padding: 21px 55px 21px 55px !important;

}
.button-5-4{
	padding: 21px 72px 21px 72px !important;

}
.button-5-5{
	padding: 21px 18px 21px 18px !important;

}
.button-5-6{
	padding: 21px 41px 21px 41px !important;

}
.button-5-7{
	padding: 21px 56px 21px 56px !important;

}
.button-5-8{
	padding: 21px 48px 21px 48px !important;

}
.button-5-9{
	padding: 21px 43px 21px 43px !important;

}
.button-5-10{
	padding: 21px 64px 21px 64px !important;

}

.row1{
	justify-content: space-between;
}

.sokolbisoy{
	padding: 0;
	font-size: 24px !important;

}
.sciencefiction{
	padding-bottom: 34px !important;
	box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 30%);

}
.sfic1{
	width: 19.5% !important;
}
.sfarrow{
	top: 1592px !important;
}
.sf-title{
	font-weight: 500;
	font-size: 22px !important;
}

.sf-viewall{
	background-color: #fff !important;
	float: right;
	border: 1px solid #0397d3;
	color: #0397d3;
	box-shadow: 0px 3px 6px -4px #a2a2a2;
	padding: 8px 12px;
	font-size: 15px;
	margin: 15px 15px 0 0;
	border-radius: 3px;
}

.sf-hover p:hover{
	background-color: #0397d3 !important;
	color: #fff;
}


.floatingbutton{
    position: fixed;
    top: 221px;
    right: 20px;
    width: 51px;
    height: 88px;
    border-radius: 3px;
    background-color: #fff;
}
.img-float{
	  position: fixed;
    top: 244px;
    right: 30px;
}
.booknum{

  height: 21px;
  width: 21px;
  border-radius: 50%;
  color: #fff;
  background-color: #D64541;
  position: fixed;
  top: 235px;
  right: 33px;
  text-align: center;
  font-size: 14px;
}
.float-title{
	font-size: 15px;
	/*font-weight: 500;*/
	color: #333333;
	margin: 58px 0 0 10px;
  
}
.floatingbutton:hover{
	color: #0397D3;
}
.float-title:hover{
	color: #0397D3;
}

.mustread{
	height: 260px;
	background-color: #fff;
	box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 30%);
}
.must1{
    width: 150px;
    height: 128px;
    background-image: url(../img/must1.png);
    background-size: center;
    background-repeat: no-repeat;
    margin: 0px 0 0 42px;
}
.mustread-title{
	margin: 132px 0 0 0px;
}
.must2{
	background-image: url(../img/must2.png);
}
.must3{
	background-image: url(../img/must3.png);
}
.must4{
	text-align: center;
	background-image: url(../img/must4.png);
	
}
.title-4{
	margin-left: -14px !important;
}
.must5{
	background-image: url(../img/must5.png);
}
.must6{
	background-image: url(../img/must6.png);
}
.title-6{
	margin-left: 16px !important;
}

.must1:hover{
	background-image: url(../img/must1zoom.png);
	color: #0397D3;
}

.must2:hover{
	background-image: url(../img/must2zoom.png);
	color: #0397D3;
}
.must3:hover{
	background-image: url(../img/must3zoom.png);
	color: #0397D3;
}
.must4:hover{
	background-image: url(../img/must4zoom.png);
	color: #0397D3;
}
.must5:hover{
	background-image: url(../img/must5zoom.png);
	color: #0397D3;
}
.must6:hover{
	background-image: url(../img/must6zoom.png);
	color: #0397D3;
}

.leftsidebutton {
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 284px;
    height: 33px;
    color: #4D4D4D;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    transform: rotate( 
-90deg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    float: left; 
    left: 0; 
    top: 290px;
    left: -134px;
    padding-top: 20px;
    box-shadow: 0 0 5px #cfcfcf;
}

.leftsidebutton span{
  font-size: 16px;
  font-weight: 700;
}

.ytrokomari{
	height: 160px;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	justify-content: space-between;

}
.img-blog{
	width: 560px;
	border-radius: 3px;
}

.img-extra{
	width: 1147px;
	border-radius: 3px;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.topauthor{
	height: 274px !important;
	
}
.authordiv{
	  width: 150px;
    height: 128px;
    /*margin: 0px 0 0 42px;*/
}

.justify-con{
	justify-content: space-evenly;
}

.img-author1{
	border-radius: 50%;
	border: 2px solid #CDCDCD;
}
.author-title{
	margin-top: 10px !important;
	font-size: 14px;
	margin-left: 16px;
}
.authordiv:hover{
	color: #0397D3;
}

.img-author1:hover{
	border: 2px solid #0397D3;
}
.topauthor-title{
	font-size: 22px;
	color: #333333;
	padding: 20px 0 0 18px;
}
.author-button{
	top: 2655px !important;
}







/************************************************
				 Home CSS Ends
*************************************************/

/************************************************
				 CSS Start
*************************************************/


/************************************************
				 CSS Ends
*************************************************/

/************************************************
				 Footer CSS Start
*************************************************/


/************************************************
				 Footer CSS Ends
*************************************************/
